*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #212529;
    justify-content: space-around;
}
.main-page{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;


}
.avatar-container{
    width: 120px;
    height: 120px;
    border: 1px solid #999;
    border-radius: 50%;
    position: relative;
}
.avatar-container button{
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: #495057;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%
}
.avatar-container img{
    width: 100%;
}


dialog{
    width: 320px;
    min-height: 200px;
    background: #212529;
    border: none;
    border-radius: 12px;
    box-shadow: 3px 8px 9px rgb(0 0 0 / 54%);
    overflow: hidden;
}
.dialog-header{
    display: flex;
    height: 60px;
    background: #495057;
    box-shadow: 3px 8px 9px rgb(0 0 0 / 54%);
    align-items: center;
    padding: 0 16px;
    gap: 8px;
}
.dialog-header svg{
    stroke: #fff;
    fill: transparent;
}
.dialog-title{
    font-size: 16px;
    color: #ffffff;
}
.slot{
    border-radius: 10px;
}
.slot--head {
    color: #F1F3F5;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    background: #212529;
    padding: 16px 24px;
}

.slot--head-close_dialog {
    background-color: transparent;
    border: none;
    color: #606264;
    font-size: 2rem;
    cursor: pointer;
}

.slot--head-close_dialog ion-icon {
    position: relative;
    top: 8px;
}

#dialog {
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 5px 9px 0px black;
    border-radius: 12px;
    min-height: 200px;
    min-width: 268px;
    width: 100%;
    max-width: 500px;
    margin-right: 25%;
}

.slot--body {
    background: #495057;
    color: #F1F3F5;
    padding: 16px 24px;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}

.slot--body--file {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 15px;
}

#userimage {
    background-color: #171A1C;
    font-size: 1rem;
}


.slot--footer {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
}

.slot--footer button {
    cursor: pointer;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    padding: 6px 16px;
}

.slot--footer-clear_button {
    background-color: #212529;
    color: #FFC9C9;
    border-color: #495057;
    border-style: solid;
    border-radius: 5px;
}

.slot--footer-cancel_button {
    
    background-color: #323436;
    /* border-color: #677889; */
    border-style: solid;
    border-radius: -1px;
    color: #F1F3F5;
    /* font-weight: bold; */
    width: 86px;
    height: 36px;
     box-sizing: border-box;
}

.slot--footer-confirm_button {
    background-color: #212529;
    border-color: #495057;
    border-style: solid;
    border-radius: 5px;
    color:#171A1C;
    font-weight: bold;
    width: 68px;
    height: 31px;
}