*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #212529;
}
.main-page{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.avatar-container{
    width: 120px;
    height: 120px;
    border: 1px solid #999;
    border-radius: 50%;
    position: relative;
}
.avatar-container button{
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: #495057;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%
}
.avatar-container img{
    width: 100%;
}